<% content_for :title, Footprint32::APP_NAME %>
<div class="page-container">
  <div id="content">
    <div class="padding">
      <div class="resource_container_blue"><div class="title">Cookies Policy</div></div>
      <div class="resource_container">
        <p>
          IMPORTANT NOTICE: PLEASE READ CAREFULLY BEFORE USING THIS WEBSITE: This site uses cookies to store information on your computer. By using this site you agree to the placement of cookies on your computer in accordance with the terms of this policy. If you do not wish to accept cookies from this site please either disable cookies or refrain from using this site.
        </p>
        <br/>
        <p>
          1. What are Cookies?
          <br/>
          A cookie is a small amount of data, which often includes a unique identifier that is sent to your computer or mobile device (referred to here as a "device") browser from a website's server and is stored on your device's hard drive. Each website or third party service provider used by the website can send its own cookie to your browser if your browser's preferences allow it, but (to protect your privacy) your browser only permits a website or third party service provider to access the cookies it has already sent to you, not the cookies sent to you by other sites or other third party service providers. A cookie will contain some anonymous information such as a unique identifier and the site name and some digits and numbers. It allows a website to remember things like your preferences or what’s in your shopping basket.
        </p>
        <br/>
        <p>
          2. Types of Cookies
          <br/>
          There are two main types of cookies:
          <br/>
          Session cookies: Session Cookies are stored only for the duration of your visit to a website and these are deleted from your device when your browsing session ends.
          <br/>
          Persistent cookies: This type of cookie is saved on your device for a fixed period. Persistent cookies are used where we need to know who you are for more than one usage session. For example, if you have asked us to remember preferences like your location or your username.
          <br/>
          In addition to session cookies and persistent cookies, there may be other cookies which are set by the website which you have chosen to visit, such as this website, in order to provide us or third parties with information.
        </p>
        <br/>
        <p>
          3. Our use of Cookies
          <br/>
          We currently use, and may use in the future, the following types of cookies on this website.
          <br/>
          We use session cookies to:

          help us maintain security and verify your details whilst you use the website as you navigate from page to page, which enables you to avoid having to re-enter your details each time you enter a new page.
          <br/>
          We use persistent cookies to:

          help us recognise you as a unique user when you return to our website so that you do not have to input your details multiple times as you move between our pages or services
          remember how you have customised your use of this site, such as your preferred currency and time zone
          collect and compile anonymous, aggregated information for statistical and evaluation purposes to help us understand how users use the website and help us improve the structure of our website.
          <br/>
          In addition to cookies which send information to us, we also use cookies which collect information and send it to third parties. An example of this is Google Analytics. Please check the relevant third party website for more information about their use of cookies. Where this site allows such cookies to be set or you access other websites from this site using the links provided, the operators of these websites will use cookies in accordance with their own cookies policy, which may differ from ours.

          As with first party cookies, you are able to block third party cookies through your browser settings.

          Some of our cookies may collect and store your personal information, such as your name or email address. We are committed to respecting and protecting your privacy and will ensure that all personal information collected by us is kept and treated in accordance with our privacy policy.
        </p>
        <br/>
        <p>
          4. Refusing Cookies on this Site
          <br/>
          Most browsers are initially set to accept cookies. However, you have the ability to disable cookies if you wish, generally through changing your internet software browsing settings. As our cookies allow you to access some of our website’s essential features we recommend that you leave cookies enabled, otherwise, if cookies are disabled, it may mean that you experience reduced functionality or will be prevented from using this site altogether.
        </p>
      </div>
    </div>
  </div>
</div>

