<% content_for :title, Footprint32::APP_NAME %>
<div class="page-container">
  <div id="content">
    <div class="padding">
      <div class="resource_container_blue"><div class="title">Terms of Use</div></div>
      <div class="resource_container">

      </div>
    </div>
  </div>
</div>

