<table class="hor-zebra">
  <tr>
    <th>User</th>
    <th>Subject</th>
    <th>Action</th>
  </tr>
  <% message_statuses.each do |message_status| %>
    <% if message_status.status == MessageStatus::UNREAD %>
      <tr class="unread">
        <%= render :partial => "messages/message", :locals => {:message_status => message_status} %>
      </tr>
    <% else %>
      <tr>
        <%= render :partial => "messages/message", :locals => {:message_status => message_status} %>
      </tr>
    <% end %>
  <% end %>
</table>