<div class="resource_container_sidebar_title_blue"><div class="info-section-title"><%= fa_icon("heart", :class => "whitecolor mediumsize") %> <%= link_to t('.title'), user_favorite_places_path(user), :class => "general_white hastip", :title => "Show on map" %> (<%= user.favorite_places.count %>) </div></div>
<div class="resource_container_sidebar_content">
<div class="info-section-content">
<% favorite_places.each do |favorite_place| %>
  <div class="hidden_box_container left_menu">
    <%= render :partial => "profiles/place_hover_info", :locals => {:place => favorite_place.place, :type => "fp", :id => favorite_place.id} %>
  </div>
<% end %>
<div class="clear_float"></div>
</div>
</div>