<div class="resource_container_sidebar_title_blue"><div class="info-section-title"><%= fa_icon("tag", :class => "whitecolor mediumsize") %> <%= link_to "Visited Cities", user_visited_cities_path(user), :class => "general_white hastip", :title => "Show on map" %> (<%= user.visited_cities.count %>) </div></div>
<div class="resource_container_sidebar_content">
<div class="info-section-content">
<% visited_cities.each do |visited_city| %>
  <div class="hidden_box_container left_menu">
    <%= render :partial => "profiles/city_hover_info", :locals => {:city => visited_city.city, :type => "vc", :id => visited_city.id} %>
  </div>
<% end %>
<div class="clear_float"></div>
</div>
</div>