<% content_for :title, Footprint32::APP_NAME %>
<div class="page-container">
  <div id="content">
    <div class="padding">
      <div class="resource_container_blue">
        <div class="title_text">Change Setting</div>
      </div>
      <div class="resource_container">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div id="sidebar">
    <div class="padding">

    </div>
  </div>
</div>

