<div class="resource_container_sidebar_title_blue"><div class="info-section-title title_text"><%= fa_icon("heart", :class => "whitecolor mediumsize") %> Like</div></div>
<div class="resource_container_sidebar_content"><div class="info-section-content">
  <div class="general_box">
    <% friends.each do |friend| %>
      <div class="hidden_box_container left_menu">
        <%=h link_to image_tag(get_profile_photo_url(friend.profile_photo),
          :class => "small_pic "), user_profile_path(friend), :class => "hastip", :title => "#{friend.profile.full_name}" %>
        <%#= render :partial => "shared/user_small_info_box", :locals => { :user => friend } %>
      </div>
    <% end %>
  </div>
  <div class="clear_float"></div>
</div>
</div>