<div class="sidebox_container">
  <div class="sidebox_title"><%= title %></div>
  <div class="sidebox_content">
    <%#*<div class="general_box">%>
      <% places.each do |place| %>
          <div class="hidden_box_container left_menu">
            <%= link_to image_tag(place_thumb_photo(place),
                    :class => "thumb_stats_pic imagedropshadow"), place_path(place) %>
            <%= render :partial => "shared/place_small_info_box", :locals => { :place => place } %>
        </div>
      <% end %>
    <%#*</div>%>
    <div class="clear_float"></div>
  </div>
</div>