<div class="hide_show_stacked_view_box">
  <%= button_tag "", :id => 'hideshow', :class => "hastip eye_button general-button", :title => "Show/hide" do %>
    <%= fa_icon("eye", :class => "whitecolor hugesize") %>
  <% end %>
</div>