<div class="info-box">
<div class="info-box-title bold_text"><%= image_tag("review-big.png") %> <%= t('.title')%></div>
<div class="info-box-content">
  <div class="general_box">
    <% reviews = top_reviewers_in_a_week() %>
    <% reviews.each do |review| %>
        <div class="hidden_box_container left_menu">
          <%=h link_to image_tag(get_profile_photo_url(review.creator.profile_photo),
                  :class => "thumb_profile_pic imagedropshadow"), user_profile_path(review.creator) %>
          <%= render :partial => "shared/reviewer_info_box", :locals => { :user => review.creator } %>
      </div>
    <% end %>
  </div>
  <div class="clear_float"></div>
</div>
</div>