<div class="trip_button_box">
  <%= link_to fa_icon("road", :class => "whitecolor hugesize"), user_trips_path(current_user), :class => "hastip eye_button general-button", :title => "Smart Ride" %>
</div>