<div id="photo_description" style="display: none;">
  <% photos.each do |photo| %>
    <%= render :partial => "photos/photo_description", :locals => {:photo => photo} %>
  <% end %>
</div>
<div id="mygallery" >
  <% if photos.length > 0 %>
    <% photos.each do |photo| %>
      <%= link_to image_tag(photo.image.url(:small)), photo.image.url(:original),
        :class=>"fancybox-buttons", "data-fancybox-group"=>"button", :rel=>"gallery" %>
    <% end %>
  <% end %>
</div>