<% places.each do |place| %>
  <div class="item_float">
    <div class="nearby-place-found">
      <div class="nearby-place-image">
        <%=h link_to image_tag(get_small_photo_url(place.default_photo), :class => "tiny_image"), place_path(place) %><br/>
      </div>
      <div class="nearby-place-content small_text">
        <div class="break-word nearby-place-name">
          <%=h link_to place.name, place_path(place), :class => "general" %>
        </div>
        <div class="">
          <%= link_to place.city.name, city_path(place.city) %>, <%= link_to place.country.name, country_path(place.country) %>
        </div>
      </div>
      <div class="clear_float"></div>
    </div>
  </div>
<% end %>