<div class="popular_places">
  <div class="resource_container3">
    <div class="small_title_text">Most popular places</div>
  </div>
  <div class="resource_container3">
    <% places.each do |place| %>
      <span><%= link_to image_tag(place_small_photo(place), :class => "imagedropshadow tiny_image2"), place_path(place), :class => "hastip", :title => "#{place.name} (#{place.favorite_places_count} like)" %></span>
    <% end %>
  </div>
</div>