<div class="popular_places">
  <div class="resource_container3">
    <div class="small_title_text">Most active reviewer</div>
  </div>
  <div class="resource_container3">
    <% users.each do |user| %>
      <span>
        <%=h link_to image_tag(get_profile_photo_url(user.profile_photo),
                :class => "imagedropshadow tiny_image2 hastip"), user_profile_path(user), :class => "hastip", :title => "#{user.profile.full_name} (#{user.reviews_count} review)" %>
      </span>
    <% end %>
  </div>
</div>