<% photos.each do |photo| %>
<%=h link_to(image_tag(photo.image.url(:thumb),
  :class => "imagedropshadow item_float"), photo.image.url(:original), :class=>"fancybox-buttons", "data-fancybox-group"=>"button", :rel=>"gallery") %>

<% end %>
<div class="clear_float"></div>
<div id="photo_description" style="display: none;">
  <% photos.each do |photo| %>
    <%= render :partial => "photos/photo_description", :locals => {:photo => photo} %>
  <% end %>
</div>