<% content_for :title, Footprint32::APP_NAME %>
<div class="page-container">
  <div id="content">
    <div class="padding">
      <div class="resource_container_blue">
        <div class="title_text"><%= t('.title') %></div>
      </div>
      <div class="resource_container">
        <%= render 'form' %>
        <%= link_to t('.show'), user_event_path(@user, @event), :class => "general" %> |
        <%= link_to t('.back'), user_events_path(@user), :class => "general" %>
      </div>
    </div>
  </div>
  <div id="sidebar">
    <div class="padding">
    </div>
  </div>
</div>
