<% content_for :title, Footprint32::APP_NAME %>
<div class="page-container">
  <div id="content">
    <div class="padding">
      <div class="resource_container_blue">Unauthorized</div>
      <div class="resource_container">
        The page that you requested can not be accessed.
        Click the following link to go back <%= link_to "Back", home_index_path, :class => "general" %>
      </div>
    </div>
  </div>
</div>
