<% content_for :title, Footprint32::APP_NAME %>
<div class="page-container-full">
  <div id="content-fullwidth">
    <div class="padding">
      <%= render 'form' %>
      <%#*<div>%>
      <%#= link_to t('.show'), city_path(@city), :class => "general" %> |
      <%#= link_to t('.back to country'), country_path(@city.country), :class => "general" %>
      <%#*</div>%>
    </div>
  </div>
</div>
