<% content_for :title, Footprint32::APP_NAME %>
<div class="page-container">
  <div id="content">
    <div class="padding">

      <div class="title_text"><%= t('.title')%> <%= @place.name %> </div>

      <%= render 'photos/form' %>

      <%= link_to t('.back'), place_path(@place), :class => "general" %>

    </div>
  </div>
</div>
